.main {
  margin: auto;
  padding: 10px;
  width: 900px;
  background: #f0f5f5;
}
h1 {
  text-align: center;
  color: grey;
}
.canvasContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
canvas {
  border: 2px solid black;
}
.userChoice {
  padding: 10px;
}
.userText {
  margin-left: 20px;
}
.button {
  font-size: 20px;
  background-color: #ffcccc;
  border-radius: 8px;
  border: 0;
}
.button:hover {
  background-color: #ffb3b3;
  transition-duration: 0.1s;
}
.slider {
  width: 50%;
  height: 20px;
}
/* 更改slider的样式无法运行 */
.slider::slider-thumb { 
  appearance: none;
  width: 25px;
  height: 25px;
  background: pink;
  cursor: pointer;
}
.slider::range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
#textRight:focus {
  outline: 2px solid red;
}
.image {
  width: 300px;
}
#imageCanvas {
  width: 300px;
}